/* This is an example of how to import a partial scss file*/
@import './_variables';

body {
  color: #c7d4f0;
  background: #edeadd;
  background-size: cover;
}

.main-display {
  display: flex;
  justify-content: flex-end
}

img {
  width: 213px;
  height: 190px;
}

.header-btn-styling {
  display: flex;
}

.check-price-styling {
  display: flex;
}
.header-homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.pending-trips-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-homepage {
  background-color: #0c1b54;
}

.header-reservationpage {
display: flex;
justify-content: flex-start;
align-items: center;
}

.pending-card-header {
  
}

button {
  border-radius: 10px;
  width: 120px;
  height:40px;
  border: none;
  color: black;
  background-color: hsl(26, 42%, 88%);
  cursor: pointer;
  padding: 10px;
}
button:hover {
  background-color:hwb(26 46% 8%)
}

.scrollable {
  height: 100%;
  overflow-y: auto;
}

.display-all-trips, .book-trip-page {
  padding: 50px 90px 50px 90px;
  color: #1a2a6b;
}

.card-header {
 display: flex;
 justify-content: center;
}


.disabled {
  background-color: rgb(129, 159, 172);
}

.past-trips-cards, .future-trips-cards {
  border: 7px solid hsl(203, 35%, 63%);
  // opacity: .4;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 60vw;
  max-width: 60vw;
  border-radius: 25px;
}

.pending-trips {
min-width: 30vw;
max-width: 30vw;
}

.card {
  color: white;
  background: #1a2a6b;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  height: 340px;
  width: 245px;
  align-items: center;
}

.agent-header {
  display: flex;
  justify-content: space-between;
}

.trip-requests-section {
  display: flex;
  justify-content: space-around;
}

.hidden {
  display: none;
}