/* This is an example of how to import a partial scss file*/
@import './_variables';

body {
  background: #edeadd;
  background-size: cover;
}

.main-display {
  display: flex;
  justify-content: flex-end
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50vh;
}

img {
  width: 265px;
  height: 190px;
  border-radius: 15px 15px 0px 0px;
}

p  { 
 margin: 5px;
}

.header-btn-styling {
  display: flex;
}

.check-price-styling {
  display: flex;
}

.header-homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #c7d4f0;

}

.pending-trips-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-homepage {
  background-color: #0c1b54;
}

.header-reservationpage {
display: flex;
justify-content: flex-start;
align-items: center;
}

.pending-card-header {
  color: #0c1b54;
}

button {
  border-radius: 10px;
  width: 120px;
  height:40px;
  border: none;
  color: black;
  background-color: hwb(53 65% 9%);
  cursor: pointer;
  padding: 10px;
}
button:hover {
  background-color:hwb(26 46% 8%);
}

.scrollable {
  height: 100%;
  overflow-y: auto;
}

.display-all-trips, .book-trip-page {
  padding: 50px 90px 50px 90px;
  color: #1a2a6b;
}

.card-header {
 display: flex;
 justify-content: center;
}


.disabled {
  background-color: #6a828c;
}

.past-trips-cards, .future-trips-cards {
  border: 7px solid hsl(203, 35%, 63%);
  background-color: hsl(20, 78%, 89%);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 60vw;
  max-width: 60vw;
  border-radius: 25px;
}

.book-a-trip-btn, .log-out-btn {
  margin: 10px;
}

.pending-trips {
min-width: 30vw;
max-width: 30vw;
display: flex;
flex-direction: column;
align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: #1a2a6b;
  padding: 0px 10px 10px 10px;
  margin: 10px;
  border-radius: 20px;
  height: 360px;
  width: 245px;
  align-items: center;
}

.agent-header {
  display: flex;
  justify-content: space-between;
}

.trip-requests-section {
  display: flex;
  justify-content: space-around;
}

.hidden {
  display: none;
}